<% include ./partials/header %>

<div class="container text-center">
    <img src = "https://www.unocoin.com/img/unocoin-logo.png" style="height:200px;width:400px;"></img>
    <img src = "https://www.unocoin.com/img/concept-8.png" style = "display:inline;height:150px;width:150px;"></img>
    <ul>
        <li><b>Username:</b><%= foundUser.username %></li>
        <li><b>BTC Balance:</b><%= foundUser.BTCBal %></li>
        <li><b>INR Balance:</b><%= foundUser.INRBal %></li>
        <li><b>Auth Token:</b><%= foundUser.authToken %></li>
    </ul>
    <img style="height:200px;width:500px;" src = "https://encrypted.google.com/finance/chart?rlz=1C1CHZL_enIN719IN719&espv=2&biw=1707&bih=843&q=CURRENCY:BTCINR&tkr=1&p=5Y&chst=vkc&chs=268x94&chsc=1.125&ei=gZrpWIm8E4PivgTtsJzIBg"></img>
    
</div>

<% include ./partials/footer %>